*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Times New Roman', Times, serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #ffffff;
  border-bottom: 2px solid #ddd;
}

.logo img{
  margin-top: 4px ;
  margin-left: 2px;
  width: 40px;
  height: 40px;
  object-fit: contain;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(2.5);
  border-radius: 900px;
}

.logo img:hover{
  transform: scale(3.0);
}

.nav_links{
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav_links li a{
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.nav_links li a:hover{
 color: #e86f8a;
}


.login-btn {
  text-decoration: none;
  background-color: #f48da2;
  color: white !important;
  padding: 8px 15px;
  border-radius: 20px;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #e86f8a;
}

.hero-image{
  width: 100%;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: 0.4s;
  object-fit: cover;
  object-position: center;
}

.hero-image:hover{
  transform: scale(1.02);
}